.git
.gitlab
.gitignore
.gitattributes
.eslintc
**/__pycache__
**/*.py[cod]
src
tests
runscripts
node_modules
dist
manifests
CHANGELOG.md
readme.md
README.txt
crowdin.yaml
MANIFEST.in
package.json
package-lock.json
pre-commit-hook.sh
setup.cfg
setup.py
webpack.config.js
