body {
  color: #fff;
  background-color: #222; }

.navbar-default {
  background-color: #15528F;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#297AB8', endColorstr='#15528F');
  background: -webkit-gradient(linear, left top, left bottom, from(#297AB8), to(#15528F));
  background: -moz-linear-gradient(top, #297AB8, #15528F);
  border-color: #3E3F3A; }
