#import sickbeard
#import urllib

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<title>SickRage - BRANCH:[$sickbeard.BRANCH] - $title</title>
	
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link rel="shortcut icon" href="$sbRoot/images/ico/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="$sbRoot/images/ico/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="$sbRoot/images/ico/favicon-196.png">
		<link rel="icon" type="image/png" sizes="160x160" href="$sbRoot/images/ico/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="$sbRoot/images/ico/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="$sbRoot/images/ico/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="$sbRoot/images/ico/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="$sbRoot/images/ico/favicon-16.png">
		<link rel="apple-touch-icon" sizes="152x152" href="$sbRoot/images/ico/favicon-152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="$sbRoot/images/ico/favicon-144.png">
		<link rel="apple-touch-icon" sizes="120x120" href="$sbRoot/images/ico/favicon-120.png">
		<link rel="apple-touch-icon" sizes="114x114" href="$sbRoot/images/ico/favicon-114.png">
		<link rel="apple-touch-icon" sizes="76x76" href="$sbRoot/images/ico/favicon-76.png">
		<link rel="apple-touch-icon" sizes="72x72" href="$sbRoot/images/ico/favicon-72.png">
		<link rel="apple-touch-icon" href="$sbRoot/images/ico/favicon-57.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="$sbRoot/images/ico/favicon-144.png">
		<meta name="msapplication-config" content="$sbRoot/css/browserconfig.xml">

		<link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/slick.css?$sbPID"/>
		<link rel="stylesheet" type="text/css" href="$sbRoot/css/browser.css?$sbPID" />
		<link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/jquery-ui-1.10.4.custom.css?$sbPID" />
		<link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/jquery.qtip-2.0.1.min.css?$sbPID"/>
		<link rel="stylesheet" type="text/css" href="$sbRoot/css/lib/jquery.pnotify.default.css?$sbPID" />
		<link rel="stylesheet" type="text/css" href="$sbRoot/css/style.css?$sbPID"/>
		<link rel="stylesheet" type="text/css" href="$sbRoot/css/${sickbeard.THEME_NAME}.css?$sbPID" />


		<style type="text/css">
		<!--

		#if $sickbeard.NEWEST_VERSION_STRING:
		.ui-pnotify { top: 30px !important; }
		#end if

		//-->
		</style>

		<script type="text/javascript" src="$sbRoot/js/lib/jquery-1.8.3.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/slick.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery-ui-1.10.4.custom.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/superfish-1.4.8.js?$sbPID"></script> <!-- Don't remove providers sort list breaks, needs to be fixed //-->
		<script type="text/javascript" src="$sbRoot/js/lib/supersubs-0.2b.js?$sbPID"></script> <!-- Don't remove providers sort list breaks, needs to be fixed //-->
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.cookie.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.cookiejar.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.json-2.2.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.selectboxes.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.tablesorter-2.17.7.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.tablesorter.widgets-2.17.7.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.qtip-2.0.1.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.pnotify-1.0.2.min.js"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.form-3.35.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.ui.touch-punch-0.2.2.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/isotope.pkgd.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.confirm.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/script.js?$sbPID"></script>

		
		#if $sickbeard.FUZZY_DATING:
		<script type="text/javascript" src="$sbRoot/js/moment/moment.min.js?$sbPID"></script>
		<script type="text/javascript" src="$sbRoot/js/fuzzyMoment.js?$sbPID"></script>
		#end if
		<script type="text/javascript" charset="utf-8">
		<!--
			sbRoot = "$sbRoot"; // needed for browser.js & ajaxNotifications.js
			//HTML for scrolltopcontrol, which is auto wrapped in DIV w/ ID="topcontrol"
			top_image_html = '<img src="$sbRoot/images/top.gif" width="31" height="11" alt="Jump to top" />';
		//-->
		</script>
		<script type="text/javascript" src="$sbRoot/js/lib/jquery.scrolltopcontrol-1.1.js"></script>
		<script type="text/javascript" src="$sbRoot/js/browser.js"></script>
		<script type="text/javascript" src="$sbRoot/js/ajaxNotifications.js"></script>
		<script type="text/javascript">
		<!--
			function initActions() {
				\$("#SubMenu a[href*='/home/restart/']").addClass('btn').html('<span class="ui-icon ui-icon-power pull-left"></span> Restart');
				\$("#SubMenu a[href*='/home/shutdown/']").addClass('btn').html('<span class="ui-icon ui-icon-power pull-left"></span> Shutdown');
				\$("#SubMenu a[href*='/home/logout/']").addClass('btn').html('<span class="ui-icon ui-icon-power pull-left"></span> Logout');
				\$("#SubMenu a:contains('Edit')").addClass('btn').html('<span class="ui-icon ui-icon-pencil pull-left"></span> Edit');
				\$("#SubMenu a:contains('Delete')").addClass('btn').html('<span class="ui-icon ui-icon-trash pull-left"></span> Delete');
				\$("#SubMenu a:contains('Remove')").addClass('btn').html('<span class="ui-icon ui-icon-trash pull-left"></span> Remove');
				\$("#SubMenu a:contains('Clear History')").addClass('btn confirm').html('<span class="ui-icon ui-icon-trash pull-left"></span> Clear History');
				\$("#SubMenu a:contains('Trim History')").addClass('btn confirm').html('<span class="ui-icon ui-icon-trash pull-left"></span> Trim History');
				\$("#SubMenu a[href$='/errorlogs/clearerrors/']").addClass('btn').html('<span class="ui-icon ui-icon-trash pull-left"></span> Clear Errors');
				\$("#SubMenu a:contains('Re-scan')").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Re-scan');
				\$("#SubMenu a:contains('Backlog Overview')").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Backlog Overview');
				\$("#SubMenu a[href$='/home/updatePLEX/']").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Update PLEX');
				\$("#SubMenu a:contains('Force')").addClass('btn').html('<span class="ui-icon ui-icon-transfer-e-w pull-left"></span> Force Full Update');
				\$("#SubMenu a:contains('Rename')").addClass('btn').html('<span class="ui-icon ui-icon-tag pull-left"></span> Preview Rename');
				\$("#SubMenu a[href$='/config/subtitles/']").addClass('btn').html('<span class="ui-icon ui-icon-comment pull-left"></span> Search Subtitles');
				\$("#SubMenu a[href*='/home/subtitleShow']").addClass('btn').html('<span class="ui-icon ui-icon-comment pull-left"></span> Download Subtitles');
				\$("#SubMenu a:contains('Anime')").addClass('btn').html('<span class="ui-icon ui-icon-anime pull-left"></span> Anime');
				\$("#SubMenu a:contains('Settings')").addClass('btn').html('<span class="ui-icon ui-icon-search pull-left"></span> Search Settings');
				\$("#SubMenu a:contains('Provider')").addClass('btn').html('<span class="ui-icon ui-icon-search pull-left"></span> Search Providers');
				\$("#SubMenu a:contains('Backup/Restore')").addClass('btn').html('<span class="ui-icon ui-icon-gear pull-left"></span> Backup/Restore');
				\$("#SubMenu a:contains('General')").addClass('btn').html('<span class="ui-icon ui-icon-gear pull-left"></span> General');
				\$("#SubMenu a:contains('Episode Status')").addClass('btn').html('<span class="ui-icon ui-icon-transferthick-e-w pull-left"></span> Episode Status Management');
				\$("#SubMenu a:contains('Missed Subtitle')").addClass('btn').html('<span class="ui-icon ui-icon-transferthick-e-w pull-left"></span> Missed Subtitles');
				\$("#SubMenu a[href$='/home/addShows/']").addClass('btn').html('<span class="ui-icon ui-icon-video pull-left"></span> Add Show');
				\$("#SubMenu a:contains('Processing')").addClass('btn').html('<span class="ui-icon ui-icon-folder-open pull-left"></span> Post-Processing');
				\$("#SubMenu a:contains('Manage Searches')").addClass('btn').html('<span class="ui-icon ui-icon-search pull-left"></span> Manage Searches');
				\$("#SubMenu a:contains('Manage Torrents')").addClass('btn').html('<img width="16" height="16" alt="" src="$sbRoot/images/menu/bittorrent.png"> Manage Torrents');
				\$("#SubMenu a[href$='/manage/failedDownloads/']").addClass('btn').html('<img width="16" height="16" alt="" src="$sbRoot/images/menu/failed_download.png"> Failed Downloads');
				\$("#SubMenu a:contains('Notification')").addClass('btn').html('<span class="ui-icon ui-icon-note pull-left"></span> Notifications');
				\$("#SubMenu a:contains('Update show in XBMC')").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Update show in XBMC');
				\$("#SubMenu a[href$='/home/updateXBMC/']").addClass('btn').html('<span class="ui-icon ui-icon-refresh pull-left"></span> Update XBMC');
			}
		
			\$(document).ready(function() {
				
				initActions();
				
				\$("#NAV$topmenu").addClass("active");
				
				\$("a.confirm").bind("click",function(e) {
					e.preventDefault();
					var target = \$( this ).attr('href');
					if ( confirm("Are you sure you want to " + \$(this).text() + "?") )
						location.href = target;
					return false;
				});
				
			});
		//-->
		</script>
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="$sbRoot/home/" title="SickRage"><img alt="SickRage" src="$sbRoot/images/logo.png" class="img-responsive pull-left" /></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li id="NAVhome" class="dropdown">
                            <a href="$sbRoot/home/" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="$sbRoot/home/"><img src="$sbRoot/images/menu/home16.png" alt="" width="16" height="16" /> Home</a></li>
                                <li><a href="$sbRoot/home/addShows/"><img src="$sbRoot/images/menu/addshow16.png" alt="" width="16" height="16" /> Add Shows</a></li>
                                <li><a href="$sbRoot/home/postprocess/"><img src="$sbRoot/images/menu/postprocess16.png" alt="" width="16" height="16" /> Manual Post-Processing</a></li>
                            </ul>
                        </li>
						
						<li id="NAVcomingEpisodes">
                            <a href="$sbRoot/comingEpisodes/">Coming Episodes</a>
                        </li>
						
						<li id="NAVhistory">
                            <a href="$sbRoot/history/">History</a>
                        </li>
						
						<li id="NAVmanage" class="dropdown">
                            <a href="$sbRoot/manage/" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="$sbRoot/manage/"><img src="$sbRoot/images/menu/manage16.png" alt="" width="16" height="16" /> Mass Update</a></li>
                                <li><a href="$sbRoot/manage/backlogOverview/"><img src="$sbRoot/images/menu/backlog_view16.png" alt="" width="16" height="16" /> Backlog Overview</a></li>
                                <li><a href="$sbRoot/manage/manageSearches/"><img src="$sbRoot/images/menu/managesearches16.png" alt="" width="16" height="16" /> Manage Searches</a></li>
                                <li><a href="$sbRoot/manage/episodeStatuses/"><img src="$sbRoot/images/menu/backlog16.png" alt="" width="16" height="16" /> Episode Status Management</a></li>
                            #if $sickbeard.USE_PLEX and $sickbeard.PLEX_SERVER_HOST != "":
								<li><a href="$sbRoot/home/updatePLEX/"><img src="$sbRoot/images/menu/backlog_view16.png" alt="" width="16" height="16" /> Update PLEX</a></li>
							#end if
							#if $sickbeard.USE_XBMC and $sickbeard.XBMC_HOST != "":
								<li><a href="$sbRoot/home/updateXBMC/"><img src="$sbRoot/images/menu/xbmc16.png" alt="" width="16" height="16" /> Update XBMC</a></li>
							#end if	
							#if $sickbeard.USE_TORRENTS and $sickbeard.TORRENT_METHOD != 'blackhole' \
							and ($sickbeard.ENABLE_HTTPS and $sickbeard.TORRENT_HOST[:5] == 'https' \
							or not $sickbeard.ENABLE_HTTPS and $sickbeard.TORRENT_HOST[:5] == 'http:'):                            
								<li><a href="$sbRoot/manage/manageTorrents/"><img src="$sbRoot/images/menu/bittorrent.png" alt="" width="16" height="16" /> Manage Torrents</a></li>
							#end if
							#if $sickbeard.USE_FAILED_DOWNLOADS:
								<li><a href="$sbRoot/manage/failedDownloads/"><img src="$sbRoot/images/menu/failed_download.png" alt="" width="16" height="16" /> Failed Downloads</a></li>
							#end if
							#if $sickbeard.USE_SUBTITLES:
								<li><a href="$sbRoot/manage/subtitleMissed/"><img src="$sbRoot/images/menu/backlog16.png" alt="" width="16" height="16" /> Missed Subtitle Management</a></li>
							#end if
                            </ul>
                        </li>
						
						<li id="NAVerrorlogs" class="dropdown">
                            <a href="$sbRoot/errorlogs/" class="dropdown-toggle" data-toggle="dropdown">$logPageTitle <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="$sbRoot/errorlogs/"><img src="$sbRoot/images/menu/viewlog_errors16.png" alt="" width="16" height="16" /> View Log (Errors)</a></li>
                                <li><a href="$sbRoot/errorlogs/viewlog/"><img src="$sbRoot/images/menu/viewlog16.png" alt="" width="16" height="16" /> View Log</a></li>
                            </ul>
                        </li>
						
						<li id="NAVconfig" class="dropdown">
                            <a href="$sbRoot/config/" class="dropdown-toggle" data-toggle="dropdown">Config <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="$sbRoot/config/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" /> Help &amp; Info</a></li>
                                <li><a href="$sbRoot/config/general/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" /> General</a></li>
								<li><a href="$sbRoot/config/backuprestore/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" /> Backup &amp; Restore</a></li>
                                <li><a href="$sbRoot/config/search/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" /> Search Settings</a></li>
                                <li><a href="$sbRoot/config/providers/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" /> Search Providers</a></li>
								<li><a href="$sbRoot/config/subtitles/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" /> Subtitles Settings</a></li>
                                <li><a href="$sbRoot/config/postProcessing/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" /> Post Processing</a></li>
                                <li><a href="$sbRoot/config/notifications/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" /> Notifications</a></li>
								<li><a href="$sbRoot/config/anime/"><img src="$sbRoot/images/menu/config16.png" alt="" width="16" height="16" /> Anime</a></li>
                            </ul>
                        </li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">System <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="$sbRoot/manage/manageSearches/forceVersionCheck"><img src="$sbRoot/images/menu/update16.png" alt="" width="16" height="16" /> Force Version Check</a></li>
                                <li><a href="$sbRoot/home/restart/?pid=$sbPID" class="confirm"><img src="$sbRoot/images/menu/restart16.png" alt="" width="16" height="16" /> Restart</a></li>
                                <li><a href="$sbRoot/home/shutdown/?pid=$sbPID" class="confirm"><img src="$sbRoot/images/menu/shutdown16.png" alt="" width="16" height="16" /> Shutdown</a></li>
							</ul>
						</li>
						
						<li class="donate hidden-xs hidden-sm">
							<a href="http://sr-upgrade.appspot.com" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href); return false;"><img src="$sbRoot/images/donate-google.png" alt="[google wallet donate]" title="Donate with Google Wallet" /></a>
						</li>
						<li class="donate hidden-xs hidden-sm">
							<a href="bitcoin:18T7NfWTLvBLozj4ojctM4PoqFpzDApVv4?label=SickRage%20GUI&message=Send%20any%20amount%20more%20than%205%20dollars%20to%20have%20your%20membership%20status%20changed%20to%20site%20supporter" rel="noreferrer"><img src="$sbRoot/images/donate-bitcoin.png" alt="[bitcoin donate]" title="Donate with Bit Coin" /></a>
						</li>					
					</ul>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		#if $varExists('submenu'):
		<div id="SubMenu">
		<span>
		#set $first = True
		#for $menuItem in $submenu:
			#if 'requires' not in $menuItem or $menuItem.requires():      
				  #if type($menuItem.path) == dict:
					  #if $first then "" else "</span><span>"#<b>$menuItem.title</b>
					  #set $first = False
					  #set $inner_first = True
					  #for $cur_link in $menuItem.path:
						  #if $inner_first then "" else "&middot; "#<a class="inner" href="$sbRoot/$menuItem.path[$cur_link]">$cur_link</a>
						  #set $inner_first = False
					  #end for
				  #else
					  #if $first then "" else ""#<a href="$sbRoot/$menuItem.path" #if 'confirm' in $menuItem then "class=\"confirm\"" else "" #>$menuItem.title</a>
					  #set $first = False
				  #end if
			#end if
		#end for
		</span>
		</div>
		#end if
	  
		#if $sickbeard.NEWEST_VERSION_STRING:	
		<div class="alert alert-success upgrade-notification" role="alert">
			<span>$sickbeard.NEWEST_VERSION_STRING</span>
		</div>
		#end if

<div id="contentWrapper">
    <div id="content">