.icons-sickrage {
    display: inline-block;
    vertical-align: middle;
    background-image: url('../images/icons-sickrage.png');
    background-repeat: no-repeat;
}

.icons-sickrage-add-existing {
    @extend .icons-sickrage;
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.icons-sickrage-add-imdb {
    @extend .icons-sickrage;
    background-position: -34px -34px;
    width: 32px;
    height: 32px;
}
.icons-sickrage-add-new {
    @extend .icons-sickrage;
    background-position: -34px 0px;
    width: 32px;
    height: 32px;
}
.icons-sickrage-add-trakt {
    @extend .icons-sickrage;
    background-position: 0px -34px;
    width: 32px;
    height: 32px;
}
.icons-sickrage-cache {
    @extend .icons-sickrage;
    background-position: -68px 0px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-cfg {
    @extend .icons-sickrage;
    background-position: -68px -18px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-commit {
    @extend .icons-sickrage;
    background-position: -68px -36px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-console {
    @extend .icons-sickrage;
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-forums {
    @extend .icons-sickrage;
    background-position: -18px -68px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-git {
    @extend .icons-sickrage;
    background-position: -36px -68px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-irc {
    @extend .icons-sickrage;
    background-position: -104px 0px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-keys {
    @extend .icons-sickrage;
    background-position: -86px 0px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-locale {
    @extend .icons-sickrage;
    background-position: -86px -18px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-log {
    @extend .icons-sickrage;
    background-position: -86px -36px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-logo {
    @extend .icons-sickrage;
    background-position: -86px -54px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-python {
    @extend .icons-sickrage;
    background-position: 0px -86px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-tornado {
    @extend .icons-sickrage;
    background-position: -18px -86px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-type {
    @extend .icons-sickrage;
    background-position: -36px -86px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-user {
    @extend .icons-sickrage;
    background-position: -54px -86px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-version {
    @extend .icons-sickrage;
    background-position: -72px -86px;
    width: 16px;
    height: 16px;
}
.icons-sickrage-wiki {
    @extend .icons-sickrage;
    background-position: -54px -68px;
    width: 16px;
    height: 16px;
}
