@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/fa-regular";
@import "~@fortawesome/fontawesome-free/scss/fa-brands";
@import "~@fortawesome/fontawesome-free/scss/fa-solid";

body {
  color: #fff;
  background-color: #222;
}

.navbar-default {
  background-color: #15528F;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#297AB8', endColorstr='#15528F');
  background: -webkit-gradient(linear, left top, left bottom, from(#297AB8), to(#15528F));
  background: -moz-linear-gradient(top, #297AB8, #15528F);
  border-color: #3E3F3A;
}

.progress-100 {
  background-image: -moz-linear-gradient(#395f07, #2a4705) !important;
  background-image: linear-gradient(#395f07, #2a4705) !important;
  background-image: -webkit-linear-gradient(#395f07, #2a4705) !important;
  background-image: -o-linear-gradient(#395f07, #2a4705) !important;
}

.progress-80 {
  background-image: -moz-linear-gradient(#a6cf41, #5b990d) !important;
  background-image: linear-gradient(#a6cf41, #5b990d) !important;
  background-image: -webkit-linear-gradient(#a6cf41, #5b990d) !important;
  background-image: -o-linear-gradient(#a6cf41, #5b990d) !important;
}

.progress-60 {
  background-image: -moz-linear-gradient(#fad440, #f2a70d) !important;
  background-image: linear-gradient(#fad440, #f2a70d) !important;
  background-image: -webkit-linear-gradient(#fad440, #f2a70d) !important;
  background-image: -o-linear-gradient(#fad440, #f2a70d) !important;
}

.progress-40 {
  background-image: -moz-linear-gradient(#fab543, #f2700d) !important;
  background-image: linear-gradient(#fab543, #f2700d) !important;
  background-image: -webkit-linear-gradient(#fab543, #f2700d) !important;
  background-image: -o-linear-gradient(#fab543, #f2700d) !important;
}

.progress-20 {
  background-image: -moz-linear-gradient(#da5945, #b11a10) !important;
  background-image: linear-gradient(#da5945, #b11a10) !important;
  background-image: -webkit-linear-gradient(#da5945, #b11a10) !important;
  background-image: -o-linear-gradient(#da5945, #b11a10) !important;
}

span.any-hd {
  background: #2672b6 repeating-linear-gradient(
                  -45deg,
                  #2672b6,
                  #2672b6 10px,
                  #5b990d 10px,
                  #5b990d 20px
  );
}

span.Custom {
  background-color: #621993;
}

span.HD {
  background-color: #2672B6;
}

span.HDTV {
  background-color: #2672B6;
}

span.HD720p {
  background-color: #5b990d;
}

span.HD1080p {
  background-color: #2672B6;
}

span.UHD-4K {
  background-color: #7500FF;
}

span.UHD-8K {
  background-color: #410077;
}

span.RawHD {
  background-color: #cd7300;
}

span.RawHDTV {
  background-color: #cd7300;
}

span.SD {
  background-color: #BE2625;
}

span.SDTV {
  background-color: #BE2625;
}

span.SDDVD {
  background-color: #BE2625;
}

span.Any {
  background-color: #666;
}

span.Unknown {
  background-color: #999;
}

span.Proper {
  background-color: #3F7F00;
}

.unaired {
  background-color: #f5f1e4;
}

.skipped {
  background-color: #bedeed;
}

.good {
  background-color: #c3e3c8;
}

.qual {
  background-color: #ffda8a;
}

.wanted {
  background-color: #ffb65e;
}

.snatched {
  background-color: #ebc1ea;
}

.missed {
  background-color: #ffb0b0;
}

span.unaired {
  color: #584b20;
  border: 1px solid #584b20;
}

span.skipped {
  color: #1d5068;
  border: 1px solid #1d5068;
}

span.good {
  color: #295730;
  border: 1px solid #295730;
}

span.qual {
  color: #765100;
  border: 1px solid #765100;
}

span.wanted {
  color: #894305;
  border: 1px solid #894305;
}

span.snatched {
  color: #652164;
  border: 1px solid #652164;
}

span.missed {
  color: #890000;
  border: 1px solid #890000;
}

span.unaired b,
span.skipped b,
span.good b,
span.qual b,
span.wanted b,
span.missed b,
span.snatched b {
  color: #000000;
  font-weight: 800;
}

.table td.table-fit,
.table th.table-fit {
  white-space: nowrap;
  width: 1%;
}